<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 별칭사용 -->
	<typeAliases>
		<typeAlias type="com.ict.service.MVO" alias="mvo"/>
		<typeAlias type="com.ict.service.RecipeVO" alias="rvo"/>
		<typeAlias type="com.ict.service.RecipeCVO" alias="rcvo"/>
		<typeAlias type="com.ict.service.R_RankVO" alias="rrvo"/>
		<typeAlias type="com.ict.service.TVO" alias="tvo" />
		<typeAlias type="com.ict.service.TalkCVO" alias="tcvo" />
		<typeAlias type="com.ict.service.TLVO" alias="tlvo" />
		<typeAlias type="com.ict.service.QVO" alias="qvo" />
		<typeAlias type="com.ict.service.VisitorVO" alias="vvo" />
		<typeAlias type="com.ict.service.EventVO" alias="evo" />
		<typeAlias type="com.ict.service.RecipeMVO" alias="rmvo" />
		<typeAlias type="com.ict.service.ManagerVO" alias="m_vo" />
	</typeAliases>
	<mappers>
		<mapper resource="mappings/mapper.xml" />
	</mappers>
</configuration>
